@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
  background-color: #171717;
}

html {
  background-color: #171717;
  overscroll-behavior: none;
}

body {
  min-height: 100vh;
  background-color: #171717;
  color: #f5f5f5;
  overscroll-behavior: none;
}

#root {
  min-height: 100vh;
}
